  <footer id="sticky-footer" class="flex-shrink-0 py-2 h-10 bg-dark text-white-50 mt-6">
    <div class="container text-center text-decoration-none">
      <small>
        Copyright &copy; 
        <%= link_to 'Murilo Ãvila', 'https://www.linkedin.com/in/murilo-avila-117a3592/', class: 'text-decoration-none text-white-50 bg-dark' %>
        <%= link_to image_tag("github-11-24.png"), 'https://github.com/muriloavila'%>
      </small>
    </div>
  </footer>