
<nav class="navbar navbar-expand navbar-dark bg-dark navigation">
  <div class="container-fluid">
    <%= link_to 'Jupiter', root_path, class: 'navbar-brand', style: 'font-size:2.00rem' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      <a class="navbar-brand btn btn-dark" href="#">Sing in</a>
    </div>
  </div>
</nav>